html {
    background-image:url(img/salmon.png);
    background-blend-mode:color-dodge;
    /* background-repeat:repeat-y; */
    background-repeat: no-repeat;
    background-position-y:60px;
    background-position-x: 60px;
    background-size:500px;
    background-color: #AEADD3;
    font-family:Arial, Helvetica, sans-serif;
    /* max-width:max-content; */
}

body {
    margin:60px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px; */
    font-size: 18px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    height:170px;
    width: 100%;
    /* background-color: rgb(117, 60, 60); */
    /* border-bottom: white solid 3px;
    border-radius: -20px; */
}

h1 {
    /* margin-top: 100px; */
    font-size: 68px;
    font-weight: 600;
    width: 100%;
    /* text-align:center; */
    color:#AEADD3;
    color: white;
    /* background-color:white; */
    /* border: white solid; */
    margin-left: 550px;   
    font-family:monospace;
    /* box-shadow: rgba(129, 127, 127, 0.551) -3px -3px 3px; */

}

a {
    background-color: white;
    color:#AEADD3;
    text-decoration: none;
    padding: 5px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 50px;
    width: 1250px;
}

.subImage {
    width: 215px;
    border: 3px white solid;
    padding: 1px;
    border-radius: 20px;
    opacity: 70%;
}

#hero {
    width: 695px;
    border: 3px white solid;
    padding: 1px;
    border-radius: 20px;
    opacity: 70%;
}

#locations {
    width: 100%;
    margin-top: 5em;
    text-align: center;
}

h2 {
    font-weight:200;
    font-size: 32px;
    color: white;
    background-color:#bb98bc8d;
    padding: 5px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: rgba(129, 127, 127, 0.551) -3px -3px 3px;
    z-index: 2;
}

#sales {
    margin-top:3em;
    padding: 5px;
    margin-bottom: 5px;
}
ul {
    border-top: #bb98bc8d solid 3px;
    border-right:#bb98bc8d solid 3px;
    border-radius: 20px;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    color:#2d2c32;
}

li {
    text-align:justify;
}

h3 {
    font-size: 20px;
    margin-bottom: 3px;
    color:white;
}

p {
    margin: 2px;
}

#table {
    width:900px;
    margin-top: 1em;
}

#table-head 
th {
    color:#2d2c32;
    vertical-align:bottom;
}

table, th {
    border-spacing: 0px;
    margin: auto;
    border-radius: 20px;
}

th {
    color: #75357a;
    background-color: #bb98bc8d;
}

#table-body
th {
    border-radius: 20px;

}

th, td {
    padding: .5em;
}

td {
    padding: .5em;
    text-align:center;
    border-radius: 20px;
    background-color: #C4B8CE;
}

#table-foot
th {
    color: #2d2c32;
    font-weight: bold;
    text-align: center;
}

form {
    margin-top: 50px;
    border: white solid 2px;
    padding: 10px;
}

nav {
    margin-top: 80px;
    text-align: center;
}

