@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');


html {
    background-image:url(img/salmon.png);
    background-blend-mode:color-dodge;
    background-repeat: no-repeat;
    background-position-y:60px;
    background-position-x: 60px;
    background-size:500px;
    background-color: #AEADD3;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

header {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:170px;
    width:100%;
    padding-bottom: 2em;
    border-bottom: white solid ;
}


h1 {
    font-size: 72px;
    color:#AEADD3;
    color: white;
    padding-left: 600px;   
    font-family: 'Gochi Hand', cursive;;
}

nav {
    margin-right: 100px;
    margin-top: -29px;
    display: flex;
    justify-content: flex-end;
}

a {
    background-color: white;
    color:#AEADD3;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.532);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    gap:2em;
    padding: 3em;
    width:92vw;
}

#about {
    text-align:center;
    font-size: 28px;
    line-height: 1.5em;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#img {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap:.5em;
    width:92vw;
    height:22em;
    overflow-x:scroll;
}

img {
    height:20em;
    box-shadow: 3px 3px 3px grey;
}

h2 {
    font-weight:600;
    font-size: 36px;
    color:white;
    padding: 60px;
    padding-bottom: 30px;
    width: fit-content;
}

#locations {
    width: 100%;
    text-align: center;
    border-top: white solid 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    padding: 60px;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    color:#2d2c32;
}

li {
    text-align:justify;
}

h3 {
    font-size: 24px;
    margin-bottom: 3px;
    color:#2d2c32;
}

p {
    margin: 2px;
}

#sales {
    padding-left: 0px;
}

#table-head 
th {
    color:#918ede;
    vertical-align:bottom;
    background-color: white;
    font-weight:bold;
}

table, th, td {
    background-color:rgba(255, 255, 255, 0.306);
    border: #AEADD3 solid 3px ;
    color:#2d2c32;
}

th, td {
    padding: .5em;
}

td {
    padding: .5em;
    text-align:center;
}

#table-foot
th {
    color: #2d2c32;
    font-weight: bold;
    text-align: center;
}

tr:hover {
    background-color: white;
}

form {
    margin-top: 40px;
    border: white solid 2px;
    padding: 10px;
}

footer {
    margin-bottom: 10em;
}



